<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method='POST', action="{{url_for('home')}}">

    <b>data1<input type="text" name="data1", placeholder="enter sepal length"><br><br>
        <b>data2<input type="text" name="data2", placeholder="enter sepal width"><br><br>
            <b>data3<input type="text" name="data3", placeholder="enter petal length"><br><br>
                <b>data4<input type="text" name="data4", placeholder="enter petal width"><br><br>


<input type="submit",value="predict">
</form>

</body>
</html>